body{
    height: 1086px;
    font-family: 'Rubik', sans-serif;
}
#container{
    width: 1140px;
    margin: 0 ;
}
#banner{
    background: url('../images/bg-1.png');
    background-attachment: scroll;
    background-position: center;
    padding: 170px 0px ;
}
#banner .hero{
    display: flex;
}
#banner .white-overlay{
    content: "";
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#banner .container .b-container{
    flex-basis: 70%;
    padding: 250px 0px 0px 100px;  
  
}
#banner .b-container .banner-left p{
    line-height: 1.5;
    font-size: 15px;
    color: #a0a9b1;
    box-sizing: border-box;
  
}
#banner .b-container .banner-left h5{
    font-size: 16px;
    color: #A0A9B1;
    margin: 0px 0px 16px;
    padding: 10px 0px;
    line-height: 1.5px;

}
#banner .b-container .banner-left h1{
    font-size: 40px;
    color: #343a40;
    padding: 10px 0px;
    line-height: 1.2;
}
#banner .b-container .banner-left h1 span{
    color: #106eea;
}
#banner .b-container .banner-left .button {
        font-size: 14.5px;
        padding: 11.2px 22.4px;
        margin: 8px 8px 0px 0px;
        border-radius: 4px;
        line-height: 5;
       
    }
#banner .b-container .banner-left .button .primary-btn {
    background-color: #2F55D4;
    color: #fff;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    border-radius: 7px;
}
#banner .b-container .banner-left .button .secondary-btn{
    background-color: #34d1bf;
    color: #fff;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    border-radius: 7px;
}
#banner .hero .banner-right{
    flex-basis: 30%;
}
#banner .hero .banner-right {
    background-color: #fff;
    margin: 0px 0px 0px 190px;
    padding: 20px 0px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px -3px #34d1bf;
    box-sizing: border-box;
}
#banner .hero .banner-right h3{
    color: #d7eaf4;
    line-height: 1.8;
    font-size: 18px;
    text-align: center;
}
#banner .hero .banner-right h2{
    text-align: center;
    font-size: 19px;
    color: #343a40;
    font-weight: 500;
    padding-bottom: 22px;
    text-align: center;
    margin: 0px;
}
#banner .hero .entr-details{
    display: block;
   padding: 24px;
   margin: 0px;
    font-size: 14px;
    color: #A0A9B1;
    padding-bottom: 15px;

}  
#banner .hero .entr-details .detail1 input{
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;

}
#banner .hero .entr-details .detail3 input{
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;

}
#banner .hero .banner-right input{
   width: 90%;
    padding: 8px 6px;
    margin-bottom: 25px;
    border: 0.1px solid #ced4da;
    border-radius: 3px;
}
#banner .hero .banner-right .entr-details{
    padding-left: 30px;
}
#banner .hero .banner-right form a{
    text-decoration: none;
    padding: 8px 100px;
    margin: 0px 2px;
    font-size: 14px;
    color: #fff;
    background-color: #2F55D4;
    border-radius: 5px;
    font-weight: bold;
}
#banner .hero .banner-right .form .primary-btn{
    width: 100%;
    border-radius: 8px;

}
#service .main .service-container h5{
    color: #2f55d4;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    box-sizing: border-box;
}
#service .main .service-container h4{
color: #343a40;
font-weight: 500;
padding: 16px;
margin-top: 0px;
text-align: center;
box-sizing: border-box;
font-size: 25px;
}
#service .main .service-container p{
    line-height: 1.8;
    font-size: 15px;
    color: #a0a9b1;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Rubik',sans-serif;
}
#service .main-ser .wrap{
    display: flex;
    flex-wrap: wrap;

}
#service .main-ser{
    padding: 80px;
    margin: 20px;
    background-color: #f8fafe;
   
}
#service .main-ser .wrap .item {
    flex-basis: 33%;
    position: relative;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border-spacing: 50px;
}
#service .main-ser .wrap .item .icon h5{
    font-size: 20px;
    font-size: 18px;
    color: #343a40;
    font-weight: 500;
    line-height: 1.2;
   font-family: 'Rubik',sans-serif;
}

#service .main-ser .wrap .item p{
 line-height: 1.8;
    font-size: 15px;
    color: #a0a9b1;


}
#service .main-ser .wrap .item .icon{
    display: flex;
    flex-wrap: wrap;
        align-items: center;
        color: #fff;
        font-weight: 500;
        justify-content: center;
        background-color: rgba(47,85,212,.1)
    }
    #service .main-ser .wrap .item .icon i{
        color: #2f55d4;
        font: 20px;
    }
    #service .main-ser .butt{
        text-align: center;
        box-sizing: border-box;
        display: block;
    
    }

    #service .main-ser .butt a.btn1 {
    color: #fff;
    padding: 10px;
    margin: 20px;
    border-radius: 7px;
    background: #34d1bf;
    border-color: #34d1bf;
    line-height: 9;
    text-decoration: none;
}
#statistics{
    background-color: #2f55d4;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
#statistics .stat .stat-container{
    text-align: center;
    background-color: #2f55d4;
}
#statistics .stat .stat-container h4{
    color: #fff;
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
    padding: 10px;
    
}
#statistics .stat .stat-container p{
    color: #a0a9b1;
    line-height: 1.8;
    font-size: 15px;
}
#statistics .stat .detail{
    background-color: #2f55d4;
  
   

}
#statistics .stat .detail .detail-container{
    display: flex;
    justify-content: space-around;
padding: 30px;
}
#statistics .stat .detail .detail-container .s-item{
    flex-basis: 25%;
}
#statistics .stat .detail .detail-container .s-item h2{
color: #fff;
text-align: center;
line-height: 1.2;
font: 15px;
}
#statistics .stat .detail .detail-container .s-item p{
    color: #fff;
    text-align: center;
    font: 16px;
    line-height: 1.8;
}
#statistics .stat .detail .detail-container .s-item .icon{
    color: #34d1bf;
    fill: rgba(52,209,191,.2);
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
    font-size: 40px;
}



